/* =Content
-------------------------------------------------------------- */

#main {
  clear: both;
  overflow: hidden;
  padding: 0 0 0 0;
  @include container-fixed;
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: #f1f1f1; // Old browsers
  @include filter-gradient(#f1f1f1, #ffffff, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #f1f1f1 0%,#ffffff 15%)); 
  @include box-shadow(#ccc 1px -10px 10px);

}
#content,
#content input,
#content textarea {
  color: #333;
  font-size: 12px;
  line-height: 18px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
  margin-bottom: 24px;
}

#content p.read-more{
  margin-top: -20px;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
  margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
  font-size: 15px;
  line-height: 21px;
}
#content code {
  font-size: 13px;
}
#content dt,
#content th {
  color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  color: #666;
  line-height: 1.2em;
  margin: 0 0 20px 0;
}
#content table {
  border: 1px solid #e7e7e7;
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
}
#content tr th,
#content thead th {
  color: #888;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  padding: 9px 24px;
}
#content tr td {
  border-top: 1px solid #e7e7e7;
  padding: 6px 24px;
}
#content tr.odd td {
  background: #f2f7fc;
}
.hentry {
  margin: 0 0 48px 0;
}
.home .sticky {
  background: #f2f7fc;
  border-top: 4px solid #000;
  margin-left: -20px;
  margin-right: -20px;
  padding: 18px 20px;
}
.single .hentry {
  margin: 0 0 36px 0;
}
.page-title {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 36px 0;
}
.page-title span {
  color: #333;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
  color: #888;
  text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
  color: #ff4b33;
}
#content .entry-title {
  color: #666;
  font-size: 30px;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.5em;
  font-family: "Museo300", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
.entry-title a:link,
.entry-title a:visited {
  color: #006792;
  text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
  text-decoration: underline;
}
.entry-meta {
  color: #888;
  font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
  border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
  border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
  clear: both;
  padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
  margin-bottom: 12px;
}
.entry-content fieldset {
  border: 1px solid #e7e7e7;
  margin: 0 0 24px 0;
  padding: 24px;
}
.entry-content fieldset legend {
  background: #fff;
  color: #000;
  font-weight: bold;
  padding: 0 24px;
}
.entry-content input {
  margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
  margin-right: 24px;
}
.entry-content label {
  color: #888;
  font-size: 12px;
}
.entry-content select {
  margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
  font-size: 10px;
}
.entry-content blockquote.left {
  float: left;
  margin-left: 0;
  margin-right: 24px;
  text-align: right;
  width: 33%;
}
.entry-content blockquote.right {
  float: right;
  margin-left: 24px;
  margin-right: 0;
  text-align: left;
  width: 33%;
}
.page-link {
  clear: both;
  color: #000;
  font-weight: bold;
  margin: 0 0 22px 0;
  word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
  background: #f1f1f1;
  color: #333;
  font-weight: normal;
  padding: 0.5em 0.75em;
  text-decoration: none;
}
.home .sticky .page-link a {
  background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
  color: #ff4b33;
}
body.page .edit-link {
  clear: both;
  display: block;
}
#entry-author-info {
  background: #f2f7fc;
  border-top: 4px solid #000;
  clear: both;
  font-size: 14px;
  line-height: 20px;
  margin: 24px 0;
  overflow: hidden;
  padding: 18px 20px;
}
#entry-author-info #author-avatar {
  background: #fff;
  border: 1px solid #e7e7e7;
  float: left;
  height: 60px;
  margin: 0 -104px 0 0;
  padding: 11px;
}
#entry-author-info #author-description {
  float: left;
  margin: 0 0 0 104px;
}
#entry-author-info h2 {
  color: #000;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0;
}
.entry-utility {
  clear: both;
  color: #888;
  font-size: 12px;
  line-height: 18px;
}
.entry-meta a,
.entry-utility a {
  color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
  color: #006792;
}
#content .video-player {
  padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
  padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
  padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
  border: 10px solid #f1f1f1;
  margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
  float: left;
  margin-right: 20px;
  margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
  padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
  font-size: 140%;
  margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
  content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
  content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
  max-width: 100%; /* When images are too wide for containing element, force them to fit. */
  height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
  margin-top: 4px;
}
.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
  margin-top: 4px;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 12px;
}
.wp-caption {
  background: #f1f1f1;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 632px !important; /* prevent too-wide images from breaking layout */
  padding: 4px;
  text-align: center;
}
.wp-caption img {
  margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
  color: #888;
  font-size: 12px;
  margin: 5px;
}
.wp-smiley {
  margin: 0;
}
.gallery {
  margin: 0 auto 18px;
}
.gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 33%;
}
.gallery-columns-2 .gallery-item {
  width: 50%;
}
.gallery-columns-4 .gallery-item {
  width: 25%;
}
.gallery img {
  border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
  max-width: 84%;
  height: auto;
}
.gallery .gallery-caption {
  color: #888;
  font-size: 12px;
  margin: 0 0 12px;
}
.gallery dl {
  margin: 0;
}
.gallery img {
  border: 10px solid #f1f1f1;
}
.gallery br+br {
  display: none;
}
#content .attachment img {/* single attachment images should be centered */
  display: block;
  margin: 0 auto;
}
