/* =Header
-------------------------------------------------------------- */

#header {
  padding: 0; 
}
#branding{
  hgroup{
    @include container-fixed;
  }
}
#search-bar{
  text-align: right;
  padding: 0;
  overflow: hidden;
}
.search-content{
  float: right;
  padding: 15px 10px 0 0;
}
.search-form{
  float: right;
  padding: 10px 10px 8px 8px;
}
#search-bar .client-login{
  margin: -3px 1px 0 10px;
}
#site-title {
  float: left;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  width: 700px;
}
#site-title a {
  color: $black;
  font-weight: bold;
  text-decoration: none;
  text-indent: -1000px;
  display: block;
  background: url(../images/simply-change-logo.gif) 10px 0 no-repeat;
  height: 68px;
  width: 194px;
  margin-top: -10px;
  
}
#site-description {
  clear: right;
  float: right;
  font-style: italic;
  margin: 15px 0 18px 0;
  width: 220px;
}

/* This is the custom header image */
#branding img {
  border-top: 4px solid #000;
  border-bottom: 1px solid #000;
  display: block;
  float: left;
}


/* =Menu
-------------------------------------------------------------- */
/* Assistive text */
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
  background: #eee;
  border-bottom: 1px solid #ddd;
  color: $linkColorLighter;
  clip: auto !important;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  left: 7.6%;
}

#access {
  background: url(../images/header-shadow.png) no-repeat center bottom;
  display: block;
  float: left;
  margin: 0 auto;
  width: 960px;
}
#access .menu-header,
div.menu {
  font-size: 14px;
  margin-left: 12px;
  width: 928px;
}
#access .menu-header ul,
div.menu ul {
  list-style: none;
  margin: 0;
  float: right;
}
#access .menu-header li,
div.menu li {
  float: left;
  position: relative;
}
#access a {
  color: $linkColor;
  display: block;
  /*line-height: 38px;*/
  padding: 0 10px 25px 10px;
  text-decoration: none;
  font-weight: normal;
  font-family: "MuseoSans500", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 14px;
}
#access ul ul.children,
#access ul ul {
  box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
  display: none;
  position: absolute;
  top: 38px;
  left: 0px;
  float: left;
  width: 180px;
  z-index: 99999;
  padding-left: 0;
}
#access ul ul li {
  min-width: 180px;
}
#access ul ul ul {
  left: 100%;
  top: 0;
}
#access ul ul a {
  background: #ccc;
  line-height: 1em;
  padding: 10px;
  width: 160px;
  height: auto;
}
#access li:hover > a {
  color: $linkColorHover;
  background: url(../images/current-page.png) center bottom no-repeat;
}
#access ul ul :hover > a{
  color: green;
  background: #e4e4e4;
}

#access ul li:hover > ul {
  display: block;
}
#access ul li.current_page_item > a,
#access ul li.current_page_parent > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
  color: $linkColorLighter;
}
* html #access ul li.current_page_item a,
* html #access ul li.current_page_parent > a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
  color: #fff;
}

#access ul li.current_page_item a,
#access ul li.current_page_parent a{
  background: url(../images/current-page.png) center bottom no-repeat;
}

#access ul li.current_page_item ul.children li a,
#access ul li.current_page_parent ul.children li a{
  background: #ccc;
}

#access ul li.current_page_parent ul.children li.current_page_item a{
  background: #ccc;
  color: #fff;
}