/* =Navigation
-------------------------------------------------------------- */

.navigation {
  color: #888;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
  color: #888;
  text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
  color: #006792;
  text-decoration: underline;
}
.nav-previous {
  float: left;
  width: 50%;
}
.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
#nav-above {
  margin: 0 0 18px 0;
}
#nav-above {
  display: none;
}
.paged #nav-above,
.single #nav-above {
  display: block;
}
#nav-below {
  margin: -18px 0 0 0;
}

